CompileFlags:
  CompilationDatabase: >-
    d:\AA_study_resource\Cube_MX\MT6701\MT6701_speed\MDK-ARM\out\AS5600_speed\AS5600_speed
  Add:
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/RTE/_AS5600_speed
    - >-
      -IC:/Users/18160/AppData/Local/arm/packs/ARM/CMSIS/5.9.0/CMSIS/Core/Include
    - >-
      -IC:/Users/18160/AppData/Local/arm/packs/Keil/STM32F1xx_DFP/2.4.1/Device/Include
    - '-ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Core/Inc'
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Drivers/STM32F1xx_HAL_Driver/Inc/Legacy
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Drivers/STM32F1xx_HAL_Driver/Inc
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Middlewares/Third_Party/FreeRTOS/Source/include
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Middlewares/Third_Party/FreeRTOS/Source/portable/RVDS/ARM_CM3
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Drivers/CMSIS/Device/ST/STM32F1xx/Include
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../Drivers/CMSIS/Include
    - '-ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../app/Inc'
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/../bsp/boards/Inc
    - >-
      -ID:/AA_study_resource/Cube_MX/MT6701/MT6701_speed/MDK-ARM/tmp/AS5600_speed+AS5600_speed
